@using Client.Layout.Navigation
@inherits LayoutComponentBase
<div class="page">
	<header>
		<nav class="navbar bg-dark-subtle fixed-top">
			@* <MenuOffCanvas /> *@
			@* <NavMenu /> *@
			<div class="container-fluid">
				<HomeButton />
				<SearchForm />
				<ToggleButton CurrentCssClass="@NavMenuCssClass"
											OnCssClassSelected="ReturnedCssClass" />

				<div class="offcanvas-body @NavMenuCssClass ">
					<AnchorButtons />
				</div>

			</div>

		</nav>
	</header>

	<main>
		<article class="content mt-5 px-1">
			@Body
		</article>
	</main>
</div>

<Footer />

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>


@code {

	public string? NavMenuCssClass { get; set; } = "collapse";
	private void ReturnedCssClass(string filter)
	{
		//Logger!.LogDebug("...inside {Class}!{Method}; filter: {Filter}", nameof(Index), nameof(ReturnedFilter), filter);
		NavMenuCssClass = filter;
		//Logger!.LogDebug("......Calling {Method} CurrentFilter: {CurrentFilter}", nameof(StateHasChanged), CurrentFilter);
		StateHasChanged();
	}
}
