@using Client.Layout.Navigation
@inherits LayoutComponentBase
<div class="page">
	<header>

		<nav class="navbar bg-dark-subtle fixed-top">

			@* <MenuOffCanvas /> *@
			@* <NavMenu /> *@

			<div class="container-fluid">
				<HomeButton />
				<SearchForm />
				<button title="Navigation menu" class="navbar-toggler px-0" @onclick="ToggleNavMenu">
					<span class="navbar-toggler-icon ms-0"></span>
				</button>
				<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
					<div class="offcanvas-body @NavMenuCssClass ">
						<AnchorButtons />
					</div>
				</div>

			</div>

		</nav>

	</header>

	<main>
		<article class="content mt-5 px-1">
			<LoginModal />
			@Body
		</article>
	</main>
</div>
<Footer />

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>


@code {

	private bool collapseNavMenu = true;
	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	}
