@page "/Test/LocalStorage"
@using Blazored.LocalStorage
@using Client.Tests.Enums

<Client.Tests.Components.PageHeader NavTest="NavTest.LocalStorage" />


@inject ISyncLocalStorageService localStorage

<h1>Non Async Local Storage</h1>


<div class="row mb-5">

  <div class="col-md-4">
    <h5>Add Item to local storage</h5>
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Enter a value" @bind="Name" />
      <div class="input-group-append">
        <button class="btn btn-primary" @onclick="SaveName">Save</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h5>Remove item from local storage</h5>
    <button class="btn btn-primary" @onclick="RemoveName">Remove Item</button>
  </div>

  <div class="col-md-4">
    <h5>Clear local storage</h5>
    <button class="btn btn-primary" @onclick="ClearLocalStorage">Clear All</button>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <h5>Value Read from local storage</h5>
    @NameFromLocalStorage
  </div>

  <div class="col-md-4">
    <h5>Items in local storage</h5>
    @ItemsInLocalStorage
  </div>
  <div class="col-md-4">
    <h5>Item exist in local storage</h5>@(ItemExist)
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <h5>String Read from local storage</h5>
    @StringFromLocalStorage
  </div>
</div>




