@using Client.Enums
@using Client.Layout.Navigation

<ul class="navbar-nav justify-content-end flex-grow-1">
	@foreach (var item in Nav.List.ToList()
	.Where(w => w.IsPartOfList(PageListType.Layout))
	.OrderBy(o => o.Sort))
	{
		<li class="nav-item">
			<a class="nav-link" href="@item.Index">
				<i class="@item.Icon"></i> @item.Title
			</a>
		</li>
	}

</ul>

@code {

}
