<form class="d-flex" role="search">
	<input class="form-control"
				 type="search" placeholder="Search" aria-label="Search">
	<button class="btn btn-outline-success btn-sm" type="submit">
		<i class='fas fa-search'></i>
	</button>
</form>

@code {
	// `form-control me-1` the me-1 messes up when in xs mode
}
