<form class="d-flex" role="search">
	<input class="form-control me-1"
				 type="search" placeholder="Search NOT WORKING!" aria-label="Search">
	<button class="btn btn-outline-success btn-sm" type="submit">
		<i class='fas fa-search'></i>
	</button>
</form>

@code {

}
