<button title="Navigation menu" class="navbar-toggler" @onclick="OnButtonClicked">
	<span class="navbar-toggler-icon"></span>
</button>

@code {

	[Parameter, EditorRequired] public required string CurrentCssClass { get; set; }
	[Parameter] public EventCallback<string> OnCssClassSelected { get; set; }

	private void OnButtonClicked()
	{
		if (!String.IsNullOrEmpty(CurrentCssClass) )
		{
			OnCssClassSelected.InvokeAsync("");
		}
		else
		{
			OnCssClassSelected.InvokeAsync("collapse");
		}
	}
}
