@using Client.Layout.SecondRowSection

<a class="@LogUiConstants.Logout.ButtonCSS"
	 href="@LogUiConstants.Logout.Href">
	<i class="@LogUiConstants.Login.Icon">&nbsp;@LogUiConstants.Logout.Title</i>
</a>

@code {
	// ToDo: Do I want to set a "LoggedIn" variable in the local storage to false?
}
