@page "/Test/LoggerAndToast"
@using Client.Tests.Enums

<Client.Tests.Components.PageHeader NavTest="NavTest.LoggerAndToast" />

@* @inject ILogger<LoggerAndToast>? Logger
@inject IToastService? Toast *@

<div class="card">
	<div class="card-header">Test Logging (and Toast)</div>

	<ul class="list-group list-group-flush">

		<li class="list-group-item">
			<button @onclick="ThrowExceptionButtonClick"
							class="list-group-item list-group-item-warning">
				<b>Throw Exception</b>
				<i class="fas fa-chevron-right"></i>
			</button>
		</li>
	</ul>
</div>


