@using Client.Layout.Navigation
@using Client.Services

@inject ProfileService ProfileService
@inject IToastService? Toast

@if (IsDarkMode)
{
	<button class="btn btn-sm @Anchors.BtnColors.Dark!" 
		@onclick="Toggle" title="Change Dark Mode to Off">
		<i class="fas fa-toggle-on"></i>
	</button>
}
else
{
	<button class="btn btn-sm @Anchors.BtnColors.Secondary!" 
		@onclick="Toggle" title="Change Dark Mode to On">
		<i class="fas fa-toggle-off"></i>
	</button>
}

@code {
	[Parameter, EditorRequired] public bool DarkMode { get; set; }

	public bool IsDarkMode { get; set; }

	protected override void OnParametersSet()
	{
		IsDarkMode = DarkMode;
	}

	private void Toggle()
	{
		IsDarkMode = !IsDarkMode;
		Toast!.ShowInfo($"...just called {nameof(ThemeToggle)}, IsDarkMode: {IsDarkMode}");
		ProfileService?.ToggleDarkMode();
	}
}