
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@* you also have the option of a synchronous API, if your use case requires it, use  ISyncLocalStorageService *@

<p class="text-success text-center"><b>MyName</b>: @MyName</p>

@code {
  protected string? MyName = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    await localStorage.SetItemAsync("name", "John Marsing");
    var name = await localStorage.GetItemAsync<string>("name");
    MyName = name ?? "is null";
  }

}
